

.hovereringnavbar{
    /* background-color: rgb(255, 255, 255); */
    padding:5px;
}
.hovereringnavbar:hover{
    /* background-color: rgb(134, 176, 239); */
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
height: 0px !important;
}